/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', 'Helvetica Neue',Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.centered {
    width: 70%;
    margin: 0 auto;
}

/* header */
header {
    background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* debugging */
    background-color: aqua;
    height: 500px;
}

/* header nav */
header nav::after {
    content: "";
    display: table;
    clear: both;
}

nav div {
    float: left;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
}

.col-center {
    text-align: center;
    width: 84%;
    /* margin: 0 5%; */
}

.col-side {
    width: fit-content;
}

header nav ul {
    height: 100%;
}

header nav ul li {
    display: inline-block;
    height: fit-content;
}

header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: small;
    /* padding: 0 2%; */
}

header nav button {
    border: none;
    background-color: white;
    padding: 15% 25%;
    border-radius: 20px;
}

header nav button a {
    text-decoration: none;
    color: black;
    font-size: x-small;
    font-weight: bold;
}

header nav {
    /* debugging */
    background-color: red;
    height: 100px;
}

/* header section */
header section {
    width: 60%;
    margin: 50px auto;
    color: white;
    text-align: center;
    /* debugging */
    /* background-color: black;
    height: 300px; */
}

header section h1 {
    font-size: 3em;
    padding: 3%;
}

header section p {
    font-size: 1em;
    line-height: 1.6;
    padding: 0 2%;
}

header section span {
    display: inline-block;
    padding: 2% 3%;
    border-radius: 30px;
    margin: 3% 2%;
    font-size: 1em;
}

#mac {
    background-color: white;
    color: black;
    width: 30%;
}

.fa-long-arrow-alt-down {
    margin-right: 3.5%;
}

#browser {
    background-color: black;
    width: 40%;
}

/* blocco principale pagina */
main section {
    height: 100vh;
}
main section::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    margin: 5%;
    /* debugging */
    /* background-color: cornflowerblue;
    height: 800px; */
}

.col-1 {
    width: 50%;
}

.col-2 {
    width: 30%;
}

.grey {
    background-color: lightgray;
}

main section h2 {
    font-size: 2.5em;
    padding: 10% 0 5% 0;
}

main section p {
    font-size: 1em;
    line-height: 1.6;
}

main section img {
    width: 100%;
}

.no-clearfix {
    width: 100%;
    text-align: center;
    /* debugging */
    /* background-color: cornflowerblue; */
    height: fit-content;
}

.no-clearfix h2 {
    padding: 5% 10% 2% 10%;
}

.no-clearfix p {
    padding: 0 10%;
}

.no-clearfix img {
    width: 80%;
}

.no-clearfix h3 {
    font-size: 1.5em;
}

#mac-2 {
    display: block;
    padding: 2% 3%;
    border-radius: 30px;
    margin: 3% auto 15% auto;
    font-size: 1em;
    background-color: lightsteelblue;
    color: white;
    width: 20%;
}

.arrow-mac-2 {
    margin-right: 3.5%;
    color: white;
}

/* footer */
footer {
    /* margin-top: 50px; */
    /* debugging */
    height: 900px;
    background-color: darkblue;
}

.footer-nav {
    padding: 50px;
}

.footer-nav::after {
    content: "";
    display: table;
    clear: both;
}

/* colonna sx footer */
.col-sx {
    float: left;
    width: 25%;
    margin-right: 5%;
}

.col-sx h3 {
    font-size: 1.5em;
    color: mediumblue;
    padding-bottom: 5%;
}

.col-sx img {
    width: 5%;
}

.col-sx span {
    display: inline-block;
    font-size: 0.9em;
    color: white;
}

.fa-chevron-square-down {
    font-size: 0.9em;
    color: white;
}

.social {
    padding: 5% 0;
}

.fab {
    display: inline-block;
    color: white;
    font-size: 1em;
    padding-right: 7%;
}

/* colonna dx footer */
.col-dx {
    float: left;
    width: 70%;
}

.colonne::after {
    content: "";
    display: table;
    clear: both;
}

.col-footer {
    float: left;
    width: fit-content;
    margin-right: 5%;
}

.col-footer h5 {
    color: mediumblue;
    font-size: 1.2em;
}

.col-footer a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 0.9em;
    padding-top: 8%;
}

footer section {
    margin: 50px auto;
    /* debugging */
    background-color: lightblue;
    height: 200px;
}